:root {
    --white: #FFF;
	--black: #000;
	--fontHighlight: "Fraunces", serif;
	--font: "Plus Jakarta Sans", sans-serif;
	--bgColor: #F1EBE3;
	--secondColor: #241E18;
	--secondColorBg: #7C7262;
}
  
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	font-weight: normal;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
img, picture, video, embed {max-width: 100%;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

body {
	color: #1A1A1A;
	font-family: var(--font);
	background-color: var(--white);
}

a {color: #1A1A1A; text-decoration: none;}
	
strong {font-weight: bold; font-family: var(--font-bold);}
em {font-style: italic;}
small {font-size: 0.7em;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {max-width: 100%;}

.text-right {text-align: right;}

.img-button {cursor: pointer; background:none repeat scroll 0 0 transparent; border:medium none; padding:0; vertical-align:middle;}
.boxCenter {width: 96%; max-width: 1700px; margin: 0 auto; display: block; padding: 0;}

#header {
	width: 100%;
	position: relative;
	background-color: var(--black);
}
	#header.mainNav {height: 140px; background-color: var(--secondColorBg);}
#headerMain {
	padding: 1em 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
	.headerMain__slogan {
		width: calc(100% - 250px);
		color: var(--white);
		font-size: 0.9rem;
		text-align: center;
	}
	.headerMain__menu {
		width: 140px;
		cursor: pointer;
	}
		.headerMain__menu--action {
			color: var(--white);
			font-size: 0.9rem;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
			.headerMain__menu--action-item {
				max-width: 59px;
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
				.headerMain__menu--action-item svg {margin: 0.1rem 0;}
				.mainNav .headerMain__menu--action-item svg {
					transform: rotate(20deg) translate(-8px, -2px);
				}
				.mainNav .headerMain__menu--action-item svg:first-child {
					transform: rotate(-20deg) translate(-5px, -1px);
				}
.headerMain__menu--nav {
	display: none;
	width: 100%;
	height: calc(100vh - 140px);
	top: 140px;
	left: 0;
	position: absolute;
	background-color: var(--secondColorBg);
}
	.mainNav .headerMain__menu--nav {display: block;}	
	.mainNav .headerMain__menu--nav .boxCenter {
		display: flex;
		pad: 2rem 0;
		justify-content: space-between;
	}
	.headerMain__menu--navGallery {width: 40%;}
	.headerMain__menu--navList {width: 59%;}
		.headerMain__menu--navList a {
			color: var(--white);
			font-size: 4rem;
			font-weight: 300;
			display: block;
			padding: 1rem 0;
			font-family: var(--fontHighlight);
		}
			.headerMain__menu--navList a:hover {color: var(--secondColor);}